{% extends 'tickets/base.html' %}

{% block title %}Update Ticket{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header">Update Ticket {{ ticket.id }}</div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-secondary">Update Ticket</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

