{% extends 'tickets/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Staff Home - Your Website{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="color: dimgrey;">Register</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-secondary btn-block">Register</button>
                    </form>
                    <p class="mt-3 text-center">Already have an account? <a style="color: darkgreen;" href="{% url 'login' %}">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}