
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-family: Arial, sans-serif; color: #333; margin: 0; padding: 0;">
    <p>Hello ,</p>
    <p>A high priority ticket has been open for more than 10 minutes:</p>
    <ul>
        <li><strong>Type:</strong> {{ ticket_type }}</li>
        <li><strong>Description:</strong> {{ ticket_description }}</li>
        <li><strong>Status:</strong> {{ ticket_status }}</li>
        <li><strong>Department:</strong> {{ department_name }}</li>
    </ul>
    <p>Please take action as soon as possible.</p>
        
    <p>Thank you,</p>
    <p>TAD</p>
</body>
</html>