<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
</head>
<body style="font-family: Arial, sans-serif; color: #333; margin: 0; padding: 0;">
    <div style="padding: 20px;">
        <div style="margin-bottom: 20px;">
            <p style="margin: 0; font-size: 14px; list-style: none; padding: 0; color: grey;">Hi {{ user_name }},</p>
            <br>
            <p style="margin: 0; color: grey;">Your ticket has been created successfully and sent to the {{ department_name }} department.</p>
            <ul style="font-size: 14px; list-style: none; padding: 0; color: grey;">
                <li><strong>Assigned to:</strong> {{ employee_name  }}</li>
            </ul>
        </div>
        <div style="font-size: 14px;">
            <p style="margin: 0; color: grey;">Thank you,</p>
            <p style="margin: 0; color: grey;">TAD</p>
            <br>
            <!-- 2aday image at the bottom -->
            <img src="{% static 'img/2aday-circle.png' %}" alt="Company Logo" height="70" class="mr-2">
        </div>
    </div>
</body>
</html>
