<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
</head>
<body style="font-family: Arial, sans-serif; color: #333; margin: 0; padding: 0;">
    <p>Dear {{ employee_name }},</p>
    <p>A new ticket has been assigned to you.</p>
    <p ><strong>Details:</strong></p>
    <ul>
        <li><strong>Type:</strong> {{ ticket_type }}</li>
        <br>
        <li><strong>Description:</strong> {{ ticket_description }}</li>
        <br>
        <li><strong>Department:</strong> {{ request_user_department }} </li>
        <br>
        <li><strong>Location:</strong> {{ location }} </li>
        <br>
        <a href="{{ status_url }}" style="background-color:#4CAF50;color:white;padding:14px 20px;text-align:center;text-decoration:none;display:inline-block;margin:10px 0;border-radius:4px;">Mark as In Progress</a>

    </ul>
    <p>-------------------------------------------------------</p>
    <p style="font-size: 14px; color: grey;">Thank you,</p>
    <p style="font-size: 14px; color: grey;">TAD</p>
    <br>
    <!-- 2aday image at the bottom -->
    <img src="{% static 'img/2aday-circle.png' %}" alt="Company Logo" height="70" class="mr-2">
</body>
</html> 