<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
</head>
<body style="font-family: Arial, sans-serif; color: #333; margin: 0; padding: 0;">
    <p>Dear User,</p>

    <p>You're receiving this email because you requested a password reset for your user account at TAD Ticket Portal.</p>

    <p>Please click the following link to reset your password:</p>

    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        Reset Password - TAD Ticket Portal
    </a>
    <br>

    <p style="font-size: 14px; color: grey;">Thank you,</p>
    <p style="font-size: 14px; color: grey;">TAD Ticket Portal</p>
    <br>
    <img src="{% static 'img/2aday-circle.png' %}" alt="Company Logo" height="70" class="mr-2">
</body>
</html>