
{% extends 'tickets/base.html' %}

{% block title %}Link sent{% endblock %}

{% block content %}
<div class="d-flex justify-content-center min-vh-100">
    <div class="row justify-content-center w-100">
        <div class="col-md-6">
            <div class="card mt-5"> <!-- Add mt-5 for margin top -->
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: dimgrey;">Please check your inbox and follow the instruction to reset your password.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}