{%extends 'tickets/base.html'%}
{% load crispy_forms_tags %}

{%block content%}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body d-flex align-items-center">
                    <div class="reset-password-form ml-2">
                        <h2 class="card-title text-center mb-4" style="color:dimgrey;">Reset Password</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-secondary w-100">Reset Password</button>
                            {% if error %}
                                <p style="color: red;">{{ error }}</p>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content%}